html {
    scroll-behavior: smooth;
}
body, header, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #222;
    background: url("pattern.png") repeat;
}
/* NAVBAR START */
.head {
    padding: 7.5px;
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 30px;
    color: #333;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 20px;
    border-radius: 5px;
}
#logo {
    margin-top: 2px;
}
#links {
    font-size: 15px;
    margin-top: 5px;
}
#links a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
}
#links a:hover {
    color:#12d3cf;
    border: 1px solid #12d3cf;
}
#links2 {
    display: none;
}
/* NAVBAR END */

/* SPLASH PAGE */
.cont1 {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 15px;
    background-color: #fcf9ec;
    display: flex;
    flex-direction: column;
    background: url("lucid2.png") no-repeat center;
    background-size: 1080px;
    border-radius: 5px;
    color: #b0f4e6;

}
.title {
    margin-top: 10%;
    text-align: center;
    height: 600px;
}
/* ANIMATION */
@keyframes movetitle {
    0% {left: -1000px; color: #FFF;}
    100% {left: 0px;}
}
.title h1 {
    margin: 0;
    font-size: 48pt;
    margin-top: 7%;
    animation: movetitle 2s;
    position: relative;
}
.title h2 {
    font-size: 22pt;
    font-weight: lighter;
    color: #FFF;
    margin: 0;
    animation: movetitle 3s;
    position: relative;
}
.button {
    width: 150px;
    margin: auto;
}
.button p {
    padding: 10px;
}
.button a {
    background-color: #12d3cf;
    border: 1px solid #12d3cf;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    margin: 20px;
    font-weight: bold;
}
.button a:hover {
    background-color: #b0f4e6;
    border: 1px solid #b0f4e6;
}
/* END SPLASH */

/* START VIDEO/ABOUT */
#about {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}
#about .box1{
    width: 1200px;
    padding: 5px;
    margin: auto;
}
.box1 h1 {
    text-align: center;
    padding: 15px;
    color: #222;
    width: 400px;
    margin: auto;
}
.iframe-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* END VIDEO/ABOUT */

/* START METHODS */
#methodContainer {
    margin-left: 15%;
    margin-right: 15%;
}
#methodContainer h1 {
    text-align: center;
    font-size: 22pt;
    text-decoration: none;
}
.myDiv p {
    padding: 15px;
}
.myDiv {
    display: none;
    border: 1px solid #222;
    width: 72.5%;
    margin: auto;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fff;
}
.mButton {
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    border: 0;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    width: 75%;
    height: 50px;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#caret {
    float: right;
    padding-right: 10px;
}
/* END METHODS */

/* START JOURNAL */
.journal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#journal {
    width: 450px;
    padding: 5px;
    margin-top: 25px;
    border: 1px solid #222;
    border-radius: 5px;
    margin-right: 5px;
}
#journal h1, h2 {
    text-decoration: none;
    text-align: center;
}
#journal label {
    margin: 5px;
    text-align: left;
    padding: 5px;
}
#journal input, textarea {
    border: 1px solid #222;
    background-color: #fff;
    color: #222;
    margin: 10px;
    padding: 10px;
}
#journal button {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
    padding: 5px;
}
#journal button:hover {
    background-color: #12d3cf;
}
#dreamlist {
    width: 450px;
    height: 520px;
    padding: 15px;
    margin-top: 25px;
    margin-right: 5px;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
    overflow-y: auto;
}
#dreamlog {
    text-align:left;
    background-color: #fff;
}
#dreamlist label, input {
    margin-bottom: 10px;
}
#dreamlist input {
    background-color: #fff;
    border: 1px solid #222;
    padding: 5px;
    color: #222;
    font-size: 15px;
}
#dreamlist button {
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
    padding: 5px;
    margin-left: 5px;
}
#dreamlist button:hover {
    background-color: #12d3cf;
}
#dreamlist #order {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight:bold;
}
#dream {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #222;
}

.count {
    background-color: #fff;
    border: 1px solid #222;
    padding: 5px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 59%;
    bottom: 7.5%;
    width: 20%;
}
.count div {
    font-size: 12px;
}


/* START NEWSLETTER */
#newsletter {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 5px;
}
#newsletter input {
    margin: 5px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
}
/* ************** */
/* MOBILE SETTING */
/* ************** */

@media only screen and (max-width: 1024px) {
    .head {
        font-size: 10pt;
        flex-wrap:nowrap;
        display: flex;
        justify-content: space-between;
    }
    #links {
        margin-top: 5px;
    }
    #logo {
        margin-top: 7.5px;
    }
    #links a {
        font-size: 10px;
        margin: 0;
    }
    .title h1 {
        font-size: 35px;
        margin-top: 200px;
    }
    .title h2 {
        font-size: 15px;
    }
    .mButton {
        font-size: 15px;
    }
}
@media only screen and (max-width: 360px) {
    .head {
        font-size: 22px;
    }
    #journal {
        width: 90%;
        text-align: center;
    }
    #journal textarea {
        width: 90%;
    }
    #dreamlist {
        width: 85%;
    }
    #dreamlist button {
        margin: 10px;
    }
}
/* TABLETS + BIGGER PHONES */ 
@media only screen and (max-width: 767px) {
    body {
        margin: 0;
    }
    #links {
        display: none;
    }
    #links2 {
        font-size: 9pt;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #links2 a {
        text-decoration: none;
        color: #222;
        padding: 5px;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
        border: 1px solid black;
        height: 15px;
    }
    #links2 a:hover {
        color:#12d3cf;
        border: 1px solid #12d3cf;
    }
    .head {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #FFF;
        height: 60px;
        margin: 0;
    }
    .cont1 {
        margin: 0;
    }
    .button {
        margin-top: 50px;
    }
    .title h1 {
        font-size: 36pt;
    }
    .title h2 {
        font-size: 17pt;
    }
    #about {
        margin: 0;
        display: flex;
        width: 100%;
    }
    .box1 {
        margin: 0;
        padding: 0;
    }
    .box1 h1 {
        font-size: 16pt;
        text-align: center;
        width: 400px;
    }
    .iframe-container {
        width: 98%;
    }
    #methodContainer {
        margin: 0;
    }
    .mButton {
        width: 90%;
        font-size: 14pt;
        text-align: center;
    }
    .myDiv {
        width: 85%;
    }
    #newscont {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    #newsletter {
        margin: 0;
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    .box1 h1 {
        width: 50%;
    }
    .count {
        left: 75%;
    }
    #journal {
        width: 90%;
        text-align: center;
    }
    #journal textarea {
        width: 75%;
    }
}
@media only screen and (max-width: 280px) {
    .head {
        height: 120px;
    }
    .mButton {
        font-size: 12pt;
    }
    #journal textarea {
        width: 75%;
    }
    .count {
        left: 33%;
        width: 75px;
        bottom: 5px;
        text-align: center;
    }
}
