html {
    scroll-behavior: smooth;
}
body, header, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #FFF;
    background: url("starbg.png") repeat;
}
/* NAVBAR START */
.head {
    padding: 7.5px;
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    color: #333;
}
#links {
    text-align: right;
    font-size: 20px;
    margin: auto;
    margin-right: 7.5px;
}
#links a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    margin: 0;
    border: 1px dotted black;
    flex-direction: row;
}
#links a:hover {
    color:#12d3cf;
    border: 1px solid #12d3cf;
}
#links2 {
    font-size: 12pt;
    padding: 0;
    margin-right: 35px;
}
#links2 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#links2 ul li {
    padding-top: 0px;
    margin-right: 5px;
}
#links2 ul li a {
    text-decoration: none;
    color: #333;
    padding: 6.5px;
    margin: 0;
    border: 1px solid black;
    flex-direction: column;
}
#links2 ul li a:hover {
    color:#12d3cf;
    border: 1px solid #12d3cf;
}
/* NAVBAR END */

/* SPLASH PAGE */
.cont1 {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fcf9ec;
    display: flex;
    flex-direction: column;
    background: url("lucid2.png") no-repeat center;
    background-size: 1080px;
    color: #b0f4e6;
}
.title {
    margin-top: 10%;
    text-align: center;
    height: 600px;
}
/* ANIMATION */
@keyframes movetitle {
    0% {left: -1000px; color: #FFF;}
    100% {left: 0px;}
}
.title h1 {
    margin: 0;
    font-size: 48pt;
    margin-top: 7%;
    animation: movetitle 2s;
    position: relative;
}
.title h2 {
    font-size: 22pt;
    font-weight: lighter;
    color: #FFF;
    margin: 0;
    animation: movetitle 3s;
    position: relative;
}
.button {
    width: 150px;
    margin: auto;
}
.button p {
    padding: 10px;
}
.button a {
    background-color: #12d3cf;
    border: 1px solid #12d3cf;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    margin: 20px;
    font-weight: bold;
}
.button a:hover {
    background-color: #b0f4e6;
    border: 1px solid #b0f4e6;
}
/* END SPLASH */

/* START VIDEO/ABOUT */
#about {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}
#about .box1{
    width: 1200px;
    padding: 5px;
    margin: auto;
}
.box1 h1 {
    text-align: center;
    padding: 15px;
    color: #FFF;
    width: 400px;
    margin: auto;
    text-decoration: underline;
}
.iframe-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* END VIDEO/ABOUT */

/* START METHODS */
#methodContainer {
    margin-left: 15%;
    margin-right: 15%;
}
#methodContainer h1 {
    text-align: center;
    font-size: 22pt;
    text-decoration: underline;
}
.myDiv p {
    padding: 15px;
}
.myDiv {
    display: none;
    border: 1px solid #FFF;
    width: 72.5%;
    margin: auto;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.mButton {
    background: rgb(34,193,195);
    background: linear-gradient(151deg, #12d3cf 0%, rgba(253,187,45,1) 100%);
    border: 0;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    width: 75%;
    height: 50px;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#caret {
    float: right;
    padding-right: 10px;
}
/* END METHODS */

/* START NEWSLETTER */
#newsletter {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px dotted #FFF;
}
#newsletter input {
    margin: 5px;
    height: 30px;
}
/* ************** */
/* MOBILE SETTING */
/* ************** */
@media only screen and (max-width: 375px) {
    .head {
        font-size: 16pt;
        margin-top: 5px;
    }
    #links2 {
        font-size: 11pt;
    }
}
@media only screen and (min-width: 768px) {
    #links2 {
        display: none;
    }
    .cont1 {
        margin: 5px;
    }
    .head {
        margin: 0;
        border-radius: 0px;
    }
}

/* TABLETS + BIGGER PHONES */ 
/* SMALL PHONES (LESS THAN 445px width) */
@media only screen and (max-width: 445px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }
    #links {
        display: none;
    }
    .head {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        height: 70px;
    }
    .cont1 {
        margin: 0;
    }
    .button {
        margin-top: 50px;
    }
    h2 .imove {
        margin-top: 500px;
    }
    .title h1 {
        font-size: 36pt;
    }
    .title h2 {
        font-size: 17pt;
    }
    #about {
        margin: 0;
        display: flex;
        width: 100%;
    }
    .box1 {
        margin: 0;
        padding: 0;
    }
    .box1 h1 {
        font-size: 16pt;
        text-align: center;
        width: 400px;
    }
    .iframe-container {
        width: 98%;
    }
    #methodContainer {
        margin: 0;
    }
    .mButton {
        width: 90%;
        font-size: 14pt;
    }
    .myDiv {
        width: 85%;
    }
    #newsletter {
        margin: 10px;
    }
    .box1 h1 {
        width: 50%;
    }
}
